


.cardX{
    border: 2px solid darkblue;
    height: 510px;
    border-radius: 5px;
}

.card-header{    
    margin-top: 7px;
    text-align: center;
}
.cardX img{
    /* width: 286px;
    height: 286px; */
    width: 95%;
    border-radius: 5px;
}

.card-body{
    margin: 9px;
}